**Create a school class with static variable as school_name, and instance variable student_name,student_rollno, and local variables maths=0, science=0 inside a subject method which will print maths+science.**

In [1]:
class school:
  school_name = "QUICK LEARN python"
  
  def __init__(self,student_name,student_rollno):
    self.student_name = student_name
    self.student_rollno = student_rollno
  
  def subject(self,maths=0,science=0):
    print(maths+science)

In [3]:
object1 = school('Avasarala Sai Kiran',122)
print(object1.school_name)
print(object1.student_name)
print(object1.student_rollno)
object1.subject(1,3)

QUICK LEARN python
Avasarala Sai Kiran
122
4

In [5]:
object1 = school('Dinesh',130)
print(object1.school_name)
print(object1.student_name)
print(object1.student_rollno)
object1.subject(20,33)

QUICK LEARN python
Dinesh
130
53